div.row {
    margin-bottom: 0px;
}

html.sr .load-hidden {
    visibility: hidden;
}

.navbar {
    background-color: #0288d1;
}

.parallax-container {
    height: 800px;
}

.primaryGoal {
    background-color: #0277bd;
}

.hide {
    display: none;
}

.parallax-spacing {
    background-color: black;
    color: white;
}

.githubdiv {
    float: left;
    margin-left: 110px;
}

.linkedindiv {
    float: left;
    margin-left: 100px;
}

.emaildiv {
    float: left;
    margin-left: 100px;
    margin-top: 10px;
    font-family: 'Share Tech Mono', monospace;
    font-size: 25px;
}

.portfoliolinks {
    margin-left: 30%;
}

.portfolioheader {
    font-family: 'Share Tech Mono', monospace;
    margin-top: 30%;
    margin-left: 20%;
}

.portfoliolink {
    color: black;
    margin-top: 5%;
    font-family: 'Share Tech Mono', monospace;
    font-size: 25px;
}

.portfoliolink:hover {
    color: blue;
    margin-top: 5%;
    margin-left: 1%;
    font-family: 'Share Tech Mono', monospace;
    font-size: 25px;
}

.propic {
    position: fixed;
    margin-left: 81%;
    margin-top: 3%;
    border: 5px solid black;
    z-index: 1;
}

.computer-hover {
    background-color: transparent;
    margin-top: 8%;
    margin-left: 30%;
    height: 320px;
    width: 540px;
}

#linkedinlogo {
    margin-top: 13px;
}

#linkedinlogo:hover {
    margin-top: 13px;
    opacity: 0.5;
}

#githublogo:hover {
    opacity: 0.5;
}