div.row {
    margin-bottom: 0px;
}

.navbar {
    background-color: #0288d1;
}

.parallax-container {
    height: 800px;
}

.primaryGoal {
    background-color: #0277bd;
}

.hide {
    display: none;
}

.parallax-spacing {
    background-color: black;
    color: white;
}

.githubdiv {
    float: left;
    margin-left: 175px;
}

.linkedindiv {
    float: left;
    margin-left: 100px;
}

.emaildiv {
    float: left;
    margin-left: 100px;
    margin-top: 10px;
    font-family: 'Share Tech Mono', monospace;
    font-size: 25px;
}

.portfoliolinks {
    margin-left: 30%;
}

.portfolioheader {
    font-family: 'Share Tech Mono', monospace;
    margin-top: 30%;
    margin-left: 20%;
}

.portfoliolink {
    color: black;
    margin-top: 5%;
    font-family: 'Share Tech Mono', monospace;
    font-size: 25px;
}

.portfoliolink:hover {
    color: blue;
    margin-top: 5%;
    margin-left: 1%;
    font-family: 'Share Tech Mono', monospace;
    font-size: 25px;
}

#linkedinlogo {
    margin-top: 13px;
}
