div.row {
    margin-bottom: 0px;
}

html.sr .load-hidden {
    visibility: hidden;
}

.parallax {
    height: 100%;
    position: relative;
}

.parallax-container {
    height: 50vw;
}

.parallax-spacing {
    background-color: black;
    color: white;
}

.blackbox {
    background-color: black;
    height: 50px;
    width: 100%;
    margin-bottom: 0px;
}

.whitebox {
    background-color: white;
    height: 50px;
    width: 100%;
    margin-bottom: 0px;
}

.resume-container {
    height: 1170px;
    width: 100%;
}

.emaildiv {
    float: left;
    margin-left: 100px;
    margin-top: 13px;
    font-family: 'Share Tech Mono', monospace;
    font-size: 20px;
}

.skillsdiv {
    font-family: 'Share Tech Mono', monospace;
    font-size: 20px;
    text-align: center;
}

.resumediv {
    font-family: 'Share Tech Mono', monospace;
    font-size: 30px;
    text-align: center;
}

.propic {
    position: fixed;
    margin-left: 81%;
    margin-top: 3%;
    border: 5px solid black;
    z-index: 1;
    box-shadow: 0 10px 15px black !important;
}

.lblskills {
    margin-top: 3vw;
    margin-left: 20vw;
    font-family: 'Share Tech Mono', monospace;
    font-size: 5vw;
}

#linkedinlogo {
    margin-top: 13px;
}

#linkedinlogo:hover {
    opacity: 0.5;
}

#githublogo:hover {
    opacity: 0.5;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.flex {
    display: flex;
    justify-content: center;
    margin-left: 30%;
    margin-right: 30%;
}

.custom-card {
    margin: 0.5rem;
    background-color: black;
    color: white;
    box-shadow: 0 10px 15px black !important;
}

.card-link {
    color: gray !important;
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 0 3px 5px black !important;
    margin-right: 0px !important;
}

.card-link:hover {
    color: white !important;
    font-family: 'Ubuntu', sans-serif;
}

.description {
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
}

.technologies {
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
}

.custom-title {
    margin-top: 1px;
    background-color: black;
    color: white;
    width: 100%;
}

.custom-title-content {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    font-family: 'Share Tech Mono', monospace;
}

.custom-card-image {
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.custom-image {
    margin-top: 3rem;
    width: 100%;
}

.custom-card-action {
    border-top: 1px solid gray !important;
}

@media only screen and (max-width: 1200px) {
    .propic {
        display: none;
        position: fixed;
        margin-left: 81%;
        margin-top: 3%;
        border: 5px solid black;
        z-index: 1;
    }
}

@media only screen and (max-width: 600px) {
    .skillsdiv {
        font-family: 'Share Tech Mono', monospace;
        font-size: 13px;
    }
    .resume-container {
        height: 630px;
        width: 100%;
    }
    .resumediv {
        font-family: 'Share Tech Mono', monospace;
        font-size: 20px;
        text-align: center;
    }
}
